<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title><%= pageTitle %></title>
            <link rel="stylesheet" href="/styles/CSS/nav.css">
            <link rel="stylesheet" href="/styles/CSS/error.css">
    </head>
    <body>
        <header>
            <%- include('includes/nav.ejs') %>
        </header>
        <main style="display: grid; place-items: center; height: 80vh; text-align: center;">
            <h1>Something went wrong!</h1>
            <p>We're working on the problem, sorry for the inconvenience!</p>
            <input type="hidden" name="_csrf" value="<%=  csrfToken %>">
        </main>
    </body>
</html>