<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/styles/CSS/index.css">
        <link rel="stylesheet" href="/styles/CSS/nav.css">
        <script src="/scripts/main.js" defer></script>
        <script src="/scripts/index_page/index.js" defer></script>
    </head>
    <body>
        <div id="backdrop"></div>
        <header>
            <%- include('../includes/nav.ejs') %>
        </header>
        <main>
            <section id="months-section">
                <div class="select-month-header">
                    <label for="months">Select a month</label>
                    <input type="month" id="selected-month" name="months" min="2024-04" value="2024-04">
                </div>
                <div id="weeks-section">

                    <div class="week">

                        <div class="day">
                            
                        </div>

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>
                        
                        <div class="day">

                        </div>

                    </div>

                    <div class="week">

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>
                        
                        <div class="day">

                        </div>

                        <div class="day">

                        </div>
                        
                        <div class="day">

                        </div>


                    </div>

                    <div class="week">

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>
                        
                        <div class="day">

                        </div>

                        <div class="day">

                        </div>
                        
                        <div class="day">

                        </div>


                    </div>

                    <div class="week">

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>

                        <div class="day">

                        </div>
                        
                        <div class="day">

                        </div>

                        <div class="day">

                        </div>
                        
                        <div class="day">

                        </div>


                    </div>
                </div>
            </section>
        </main>
    </body>
</html>